body {
    margin: 0;
}

.container {
    min-width: 100vw;
    padding: 20px 20px;
}

.main {
    display: flex;
    gap: 100px;
}

.gameboard_wrapper {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.square {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    font-weight: 900;
}

.square:hover {
    transform: scale(110%);
}

.controls {
    display: flex;
    gap: 10px;
}

.ship_control {
    background-color: rgba(0, 0, 250, 1);
    width: 40px;
    height: 40px;
    cursor: move;
}

.hidden {
    display: none;
}

.miss {
    background-color: rgba(0, 0, 0, 0.1);
}

.hit {
    background-color: rgba(250, 0, 0, 1);
}

.sunk {
    background-color: rgba(0, 0, 0, 1);
}